<div class="top">
  <div class="frame-317">
    <app-navbar></app-navbar>
    <div class="notification-header">
      <h1 class="notification">Notifications</h1>
      <div class="mark-all-read">
        <button class="mark-all-read-btn">Mark as all read</button>
      </div>
    </div>

    <div>
      <table class="frame-73358">
        <tr>
          <td class="Eclipse-60">Logo</td>
          <td class="notification-content">
            <div class="notification-type">New Challenge Launched.</div>
            <div class="notification-message">Packaging peril challenge</div>
            <div class="notification-timestamp">2022-04-15T10:30:00</div>
          </td>
        </tr>
        <tr>
          <td class="Eclipse-60">Logo</td>
          <td class="notification-content">
            <div class="notification-type">Challenge</div>
            <div class="notification-message">You have a new challenge</div>
            <div class="notification-timestamp">2022-04-15T10:30:00</div>
          </td>
        </tr>
        <tr>
          <td class="Eclipse-60">D</td>
          <td class="notification-content">
            <div class="notification-message">Devins enrolled the Packaging Peril Challenge</div>
            <a class="rou" routerLink="/">Review Now</a>
            <div class="notification-timestamp">2022-04-14T15:45:00</div>
          </td>
        </tr>
        <tr>
          <td class="Eclipse-60">Logo</td>
          <td class="notification-content">
            <div class="notification-type">Registration</div>
            <div class="notification-message">User John Doe has registered.</div>
            <div class="notification-timestamp">2022-04-14T15:45:00</div>
            <div class="notification-actions">
              <button class="approve-btn">Approve</button>
              <div class="gap"></div>
              <button class="cancel-btn">Decline</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>